<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/appjs/js.js"></script>
    </head>
    <body>
        <h1>Add new employee</h1>
        <a href="/employees">Table</a>
        <form method="POST">
            <input value="<%=empl.name%>" type="text" name = "name" placeholder="Employee name..." required>
            <input value="<%=empl.surname%>" type="text" name = "surname" placeholder="Employee surname" required>
            <input value="<%=empl.position%>" type="text" name = "position" placeholder="Employee position" required>
            <input value="<%=empl.sallary%>" type="number" name = "sallary" placeholder="Employee sallary" required>
            <input value="<%=empl.date%>" type="date" name = "birth" required>
                <button type="submit">Add new employee</button>
                <button onclick="saveEdited()" type="submit">Save changes</button>
        </form>
    </body>
</html>