<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/appjs/js.js"></script>
    </head>
    <body>
        <h2>Employees</h2>
        <a class="btn btn-primary btn-lg" href="/employees/empl" role="button">Add new employee</a>
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Table of employees</div>
            <!-- Table -->
            <table id="myTable" class="table">
                <thead>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Position</td>
                    <td>Birthday</td>
                    <td>Sallary</td>
                    <td colspan="2">Action</td>
                </thead>
                <tbody>
                    <%for(var i = 0; i < empl.length; i++){%>
                        <%var bdate = JSON.stringify(empl[i].birth).substring(1,11);%>
                    <tr>
                        <td><%=empl[i].name%></td>
                        <td><%=empl[i].surname%></td>
                        <td><%=empl[i].position%></td>
                        <td><%=bdate%></td>
                        <td><%=empl[i].sallary%>k</td>
                        <td><input type="hidden" id="em" value="<%=empl[i]._id%>" /></td>
                        <td><input type="button" class="btn btn-primary btn-lg" name="edit" value="Edit" onclick="edit(this,em)"></td>
                        <td><input type="button" class="btn btn-danger btn-lg" name="delete" value="Delete" onclick="deleteRow(this,em)"></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </body>
</html>